flask==3.0.0
flask-cors==4.0.0
flask-socketio==5.3.5
torch==2.1.2
transformers==4.36.2
sentence-transformers==2.3.1
faiss-cpu==1.7.4
numpy==1.26.3
pandas==2.1.4
scikit-learn==1.4.0
pymongo==4.6.1
python-dotenv==1.0.0
gunicorn==21.2.0
Pillow==10.2.0
pydub==0.25.1
gTTS==2.5.0
SpeechRecognition==3.10.1
underthesea==6.7.0
pyvi==0.1.1
datasets==2.16.1
librosa==0.10.1
soundfile==0.12.1
espnet==202301
espnet_model_zoo==0.1.7
